.container {
  padding: calc(var(--sizingUnit) *2);
  height: 100vh;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr minmax(400px, 1fr);
  background-color: var(--secondaryLightColor);
  transition: background-color 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.containerAnimated {
  composes: container;
  background-color: var(--secondaryColor);
}

.graphContainer {
    min-height: 0;
}

.headLine{
  font-size: 5em;
  text-align: center;
  text-overflow: ellipsis;
  color: var(--secondaryTextColor);
  text-transform: capitalize;
}

.stackedCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}