/* Generated from https://material.io/tools/color/#!/?view.left=0&view.right=0&secondary.color=AED581&primary.color=1E88E5&primary.text.color=F5F5F5&secondary.text.color=212121 */
:root {
  --primaryColor: #1e88e5;
  --primaryLightColor: #6ab7ff;
  --primaryDarkColor: #005cb2;
  --secondaryColor: #aed581;
  --secondaryLightColor: #e1ffb1;
  --secondaryDarkColor: #7da453;
  --primaryTextColor: #f5f5f5;
  --secondaryTextColor: #212121;

  --sizingUnit: 8px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
