.wrapper {
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0;
}

.input {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 2px;
  width: 36px;
  height: 18px;
  background-color: var(--primaryLightColor);
  border-radius: 9px;
  transition: border-color 120ms, background-color 120ms;
}

.label::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 3px;
  width: 12px;
  height: 12px;
  background-color: var(--primaryDarkColor);
  border-radius: 6px;
  transform: translate3d(0, 0, 0);
  transition: transform 120ms;
}

.checkedLabel {
  composes: label;
  background-color: var(--primaryDarkColor);
}

.checkedLabel::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 3px;
  width: 12px;
  height: 12px;
  background-color: var(--primaryLightColor);
  border-radius: 6px;
  transform: translate3d(0, 0, 0);
  transition: transform 120ms;
  transform: translate3d(18px, 0, 0);
}
